ul {
  list-style: none; /*??????? ??????? ??????*/
  margin: 0; /*??????? ???????*/
  padding-left: 0; /*??????? ???????*/
  margin-top:25px; /*?????? ?????? ??????*/
  background:Orange; /*????????? ??? ????? ????*/
  height: 75px; /*?????? ??????*/
}
body
{background:MediumSeaGreen;
}
.menu{
  text-decoration: none; /*??????? ????????????? ?????? ??????*/
  background:Orange; /*????????? ??? ? ?????? ????*/
  color:#fff; /*?????? ???? ??????*/
  padding:0px 15px; /*????????? ??????*/
  font-family: arial; /*?????? ?????*/
  line-height:75px; /*??????? ???? ?? ?????????*/
  display: block;
  border-right: 1px solid #fff; /*????????? ?????? ??????*/
  -moz-transition: all 0.3s 0.01s ease; /*?????? ??????? ???????*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
  background:DarkOrange;/*????????? ?????? ??? ?????????*/
}
li {
  float:left; /*????????? ?????? ????????????? ??? ?????????? ????*/
  position:relative; /*?????? ??????? ??? ????????????????*/
}

    /*????? ??? ???????? ??????????? ????*/
    li > ul {
        position:absolute;
        top:53px;
        display:none;
    }

    /*?????? ??????? ????? ???????*/
    li:hover > ul {
        display:block;
        width:250px;  /*?????? ?????? ??????????? ????*/
    }
   li:hover > ul > li {
        float:none; /*??????? ?????????????? ????????????????*/
    }
#MainText
{

position:  relative;
top:5px;
width: 600px;
height:400px;}
#main
{
position:relative;
top:150px;
color: white;
font-family:gabriola;
font-size: 45px;
left:65px;
}
#MainPicture
{
position:relative;
right:0px;
top:-350px;

left:700px;
width: 600px;
height:400px;
}
#Picture
{
width: 600px;
height:400px;
}
#pravilo
{
 text-align:  center;
color:white;
font-family:gabriola;
font-size:22px;
}
#menu
{font-size:35px;
}
.FF
{
position:relative;
width:30%;
height:50%;
background-color:Orange;
 margin: auto;
top:200px;
border-radius: 10px;
line-height:30px;
}
#Hello
{
position:relative;
top:15px;
color:white;
font-size:35px;
left:150px;
}
input[type="text"]{
	width:200px;
height:30px;
border-radius: 5px;
margin-top:1em;
position:relative;
left:100px;}
input[type="submit"], input[type="button"]
{
	border-radius: 5px;
	width:150px;
height:30px;
}
#SearchFood,#SearchTrenirovki
{
	position:relative;
	left:500px;
	margin-top:20px;
}
#AddFoodButton,#AddTrenirovkiButton
{
	position:relative;
	left:-300px;

}
#AddZapisFood
{
	position:relative;
	top:-200px;
	left:70px;

}

#AddZapisTrenirovka
{
	position:relative;
	top:-150px;
	left:-85px;
	}
#AddWater
{
	position:relative;
	top:-100px;
	left:-238px;
}
#FoodAddForm,#TrenirovkiAddForm,#Zapisi
{
	background-color:Orange;
	color:white;
	width:400px;
	height:200px;
	margin:auto;
	margin-top:100px;
	border-radius: 5px;
}
#AddFoodSubmit,#AddTrenirovkiSubmit
{
	position:relative;
	margin-top:20px;
	left:130px;
}
#SearchFoodButton,#SearchTrenirovkiButton
{
	position:relative;
	left:550px;
}
#RegistrationForm
{
	position:relative;
	top:100px;
	margin-left:100px;
}
.RadioSex
{
	width:200px;
height:30px;
border-radius: 5px;
margin-top:1em;
position:relative;
left:100px;
}
#Vhod
{

position:relative;
left:150px;
margin-top:5px;

}
.RegistrationForm
{
	background-color:Orange;
	color:white;
	width:400px;
	height:500px;
	margin:auto;
	margin-top:100px;
	border-radius: 5px;

}
#button
{
	border-radius: 5px;
	width:150px;
height:30px;
background:Gainsboro;
 text-decoration: none;
 color:black;
 position:relative;
 left:10px;
  font-family: arial;
  text-align:center;
    top:-30px;

}
#buttonTraining
{
	border-radius: 5px;
	width:150px;
height:30px;
background:Gainsboro;
 text-decoration: none;
 color:black;
 position:relative;
 left:10px;
  font-family: arial;
  text-align:center;
    top:-20px;

}
#buttonWater
{
	border-radius: 5px;
	width:150px;
height:30px;
background:Gainsboro;
 text-decoration: none;
 color:black;
 position:relative;
 left:10px;
  font-family: arial;
  text-align:center;
    top:-10px;

}
a{ text-decoration: none;}
.Zag
{
	position:relative;
	margin:auto;
	top:5px;
	text-align:center;
	color:white;

}

